{% extends "layout.html" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Embed Plotly Dash into your Flask applications.</p>
  <a href="/dashboard1/" class="dash-link">
    <span>Dashboard 1</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/dashboard2/" class="dash-link">
    <span>Dashboard 2</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/dashboard3/" class="dash-link">
    <span>Dashboard 3</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
